.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.header {
  display: flex;
  justifycontent: center;
  align-items: center;
  background-color: #0069d9;
}

.search-container {
  display: flex;
  justifycontent: center;
  align-items: center;
  width: 60%;
  padding: 16px;
}

.search-container .search-input {
  flex-grow: 1;
  max-width: 50%;
  margin-right: 8px;
}

.search-container .search-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.search-container .search-button:hover {
  background-color: #0069d9;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe {
  width: 30%;
  margin-bottom: 20px;
}

.recipe img {
  width: 100%;
  height: auto;
}

.recipe-text {
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}
