body {
  font-family: Arial, sans-serif;
}

/* Add this at the top of your CSS file to define the color scheme */
:root {
  --primary-color: #007bff;
  --secondary-color: #0069d9;
  --accent-color: #f8f9fa;
  --error-color: #d63737;
}

/* Then replace the color values throughout your CSS with the new color scheme variables */
button {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

.recipe-text {
  padding: 10px;
  background-color: var(--accent-color);
  border: 1px solid #dee2e6;
}
.styled-autocomplete,
.styled-textfield {
  width: 100%;
  max-width: 500px;
}

.logo {
  background-image: url('./img/cover.png');  /* Adjust this path based on the actual location of the image file */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 500px;
  height: 200px;
  margin: 10px auto;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.select-ingredients {
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-container>div {
  margin: 0 5px;
}

.recipes-customization-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}

.recipes-customization-container>div {
  margin: 0 10px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }

  button {
    margin-top: 20px;
  }

  .Logo {
    height: 100px;
  }
}

@media (min-width: 769px) {
  .recipe {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .recipe {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

@media (max-width: 768px) {
  .recipe {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 5px;
    padding: 10px;
  }
}


.image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
}

.recipe {
  white-space: pre-wrap;
  align-items: center;
  margin: 10px;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  box-sizing: border-box;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--error-color);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  color: white;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  /*  */
}

.timer {
  margin-top: 10px;
  font-size: 16px;
}

.wait-message {
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
}

.selected-ingredients-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}