.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.select-ingredients {
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
}

button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe {
  width: 30%;
  margin-bottom: 20px;
}

.recipe-text {
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}

/* Dla ekranów o szerokości 768px lub mniejszych */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }

  button {
    margin-top: 20px;
  }

  .recipes-container {
    flex-direction: column;
  }
  
  .Logo {
    height: 100px;
  }
  
  .recipe {
    margin: 10px 0;
    width: 100%;
  }

  /* Skalowanie tekstu */
  .recipe h2 {
    font-size: 24px;
  }

  .recipe p,
  .recipe ul li {
    font-size: 14px;
  }
}


.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  box-sizing: border-box;
}

@media (min-width: 769px) {
  .recipe {
    width: calc(33.333% - 20px);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .recipe {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .recipe {
    width: 100%;
  }
}
